@import 'tailwindcss';
@import 'swiper/css';
@import 'swiper/css/pagination';

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-manrope: var(--font-manrope);

  --color-primary: #0b55a7;
  --color-secondary: #02a750;
}

/* ====== TEXT COLORS ====== */
.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}

/* ====== BACKGROUND COLORS ====== */
.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

/* bullet2 */
.swiper-pagination {
  position: relative;
}

.swiper-section-2 .swiper-pagination-bullet {
  width: 40px !important;
  height: 6px !important;
  background-color: #808eb0 !important;
  border-radius: 4px !important;
  transition: all 0.3s ease !important;
}

.swiper-section-2 .swiper-pagination-bullet-active {
  background-color: #0b55a7 !important;
}

/* bullet3 */
.swiper-pagination {
  position: relative;
}

.swiper-section-3 .swiper-pagination-bullet {
  width: 40px !important;
  height: 6px !important;
  background-color: #556996 !important;
  border-radius: 4px !important;
  transition: all 0.3s ease !important;
}

.swiper-section-3 .swiper-pagination-bullet-active {
  background-color: #e0e6f3 !important;
}
